@model Pagination
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>Welcome to Skinet</h3>

    count = @Model.Count<br />

    @foreach (var item in Model.Data)
    {
        @item.Name
        <br />
    }
</div>