@{
    ViewData["Title"] = "Checkout";
    ViewData["BreadCrumbs"] = new List<BreadCrumb>() {
        new BreadCrumb() { Title = "Home", IsActive = false, Link ="/Home/" },
        new BreadCrumb() { Title = "Checkout", IsActive = true, Link="" }
    };
}
<div class="container mt-5">
    <h1>Only authorized users shoild be able to see this</h1>
</div>